*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Segoe UI',sans-serif;
}

body{
  background:#070b16;
  color:white;
  line-height:1.6;
}


nav{
  position:sticky;
  top:0;
  background:rgba(0,0,0,0.6);
  backdrop-filter:blur(10px);
  display:flex;
  justify-content:center;
  gap:25px;
  padding:15px;
}

nav a{
  color:white;
  text-decoration:none;
}

nav a:hover{
  color:#38bdf8;
}


.hero{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  background:radial-gradient(circle,#1e3a8a,#070b16);
}

.hero h1{
  font-size:60px;
  color:#38bdf8;
}

.hero button{
  margin-top:20px;
  padding:12px 25px;
  border:none;
  background:#38bdf8;
  border-radius:10px;
  cursor:pointer;
}


section{
  padding:80px 10%;
}

h2{
  color:#38bdf8;
  margin-bottom:20px;
}


.card{
  background:rgba(255,255,255,0.05);
  padding:20px;
  border-radius:12px;
  margin-top:15px;
}


.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
}


.skills span{
  background:#38bdf8;
  color:black;
  padding:6px 12px;
  border-radius:20px;
  margin:5px;
  display:inline-block;
}


.timeline{
  border-left:3px solid #38bdf8;
  padding-left:20px;
}


.contact-box{
  display:flex;
  gap:40px;
  flex-wrap:wrap;
}

.contact-right input,
.contact-right textarea{
  width:100%;
  margin:8px 0;
  padding:10px;
  border:none;
  border-radius:8px;
}

.contact-right button{
  background:#38bdf8;
  padding:10px;
  border:none;
  border-radius:8px;
  cursor:pointer;
}


footer{
  text-align:center;
  padding:20px;
  background:black;
}


html{
  scroll-behavior:smooth;
}


section{
  opacity:0;
  transform:translateY(40px);
  transition:all 0.8s ease;
}

section.show{
  opacity:1;
  transform:translateY(0);
}


.card{
  transition:0.4s ease;
}

.card:hover{
  transform:translateY(-8px) scale(1.02);
  box-shadow:0 0 20px rgba(56,189,248,0.4);
}


button{
  transition:0.3s ease;
}

button:hover{
  transform:scale(1.08);
  box-shadow:0 0 15px #38bdf8;
}